body {
    overflow-x: hidden;
  }

.contenedor-img-home {
    width: 100vw;
    height: 90vh;
    background-image: url('Imgs/nube-blanca.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-img-contacto {
    width: 100%;
    height: 75vh;
    background-image: url('Imgs/fondo-contacto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fondo-skills {
    position: relative;
}

.fondo-skills::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Imgs/fondo-skills.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px); 
    z-index: -1; 
}

.fondo-proyectos {
    position: relative;
    height: 90vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-proyectos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Imgs/fondo-proyectos.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px); 
    z-index: -1; 
}

.titulo-central {
    font-family: "Nabla", sans-serif;
    font-size: 6rem;
    margin-bottom: 10px;
}

.subtitulo-central {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: black;
    font-family: "Oswald", sans-serif;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.5);

}

.fuente-titulo-proy {
    font-family: "Nabla", sans-serif;
    font-size: 8rem;
    margin-bottom: 10px;
}

.fuente-lenguaje-proy {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: black;
    font-family: "Oswald", sans-serif;
}

.fuente-navbar {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.fuente-skills th {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;

}

.titulos {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    color: black;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    text-decoration: none;
}

.herramientas {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}

.estilos-proyectos a {
    text-decoration: none;
    text-align: center;
}

.titulo-proyecto {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #252325;
    font-size: 3rem;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.5);
}

.fecha-proyecto {
    font-style: italic;
    text-align: center;
}

.copy {
    font-size: 1.5rem;
    font-style: italic;
}

.iconos {
    display: flex;
    flex-direction: row;
    filter: drop-shadow(-4px 4px 1px rgba(0, 0, 0, 0.5));
}

.fondo-proyecto {
    width: 100%;
    height: 85vh;
    background-image: url('Imgs/maxim-berg-ANuuRuCRRAc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-proy {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #252325;
    font-size: 3rem;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.5);
}

li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

.parrafo-proy {
    text-indent: 3em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem !important;
    text-align: justify;
}

.parrafo-sin-sangria {
    text-indent: 0em !important;
    font-size: 1.5rem !important;
    font-family: 'Poppins', sans-serif;
}

.centrar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.grupo-imgs {
    display: flex;
    flex-direction: row;
}
  
.galeria-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria-img img {
    width: 50%;
}

.entrada {
    font-size: 1rem;
}

.galeria-img-col {
    display: flex;
    flex-direction: row;
}

.galeria-img-col img {
    width: 50%;  
}

@media (max-width: 425px) {

    .titulo-central {
      font-size: 2.5rem;
    }
  
    .subtitulo-central {
      font-size: 0.8rem;
    }

    .parrafo-proy {
        font-size: 1rem !important;
    }

    .titulos {
        font-size: 2rem;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    
    .grupo-imgs {
        flex-direction: column !important;
    }

    li {
        font-size: 1rem;
    }

    .iconos a img {
        width: 30px;
        height: 30px;
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    
    .titulo-central {
        font-size: 3.5rem;
      }
    
    .subtitulo-central {
    font-size: 1.5rem;
    }

    .parrafo-proy {
    font-size: 1.2rem !important;
    }

    .titulos {
        font-size: 2.5rem;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .grupo-imgs {
        flex-direction: column !important;
    }

    li {
        font-size: 1.2rem;
    }

    .iconos a img {
        width: 40px;
        height: 40px;
    }

  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .titulo-central {
        font-size: 4.5rem;
      }
    
      .subtitulo-central {
        font-size: 1.8rem;
      }

      .grupo-imgs {
        flex-direction: column !important;
    }
  }
