
.contenedor-img-home {
    position: relative;
}

.contenedor-img-home .fondo {
    width: 100%;
    height: auto;
}

.contenedor-img-home .nube-blanca {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 50%; 
    background-image: url('imgs/nube-blanca.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
}